.box {
  border: 1px solid black;
  width: 500px;

}

.item-img{
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

.resetBtn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pointer {
  cursor: pointer;
}